
@{
    ViewBag.Title = "index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>
    <nav class ="navbar navbar-inverse" role="navigation">
        <div class ="navbar-header">
            <a class="navbar-brand" href="a">online Room Reservation</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
             <li class="active"><a href="Home/info">About us</a></li>
             <li class ="active"><a href="/Home/id">Contact</a></li>
             
        </ul>
        <form class="navbar-form navbar-left pull-right" role="search">
            <div class="form-group">
               <input type="text" class ="form-control" placeholder="search" />
            </div> 
            <button type="submit" class="navbar-btn">Submit</button>
            
            <a href="/Home/signup" type="Button" class="btn btn-primary">Sign Up</a>
            <a href="/Home/Login" type="Button" class="btn btn-primary">Login</a>
           
            </form>
     </nav>
<div>
   <img src="/Images/d.png" />
    </div>