@{
    ViewBag.Title = "last";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>


<div class="jumbotron">
<h1>THANK YOU :) </h1>
    <p> your room is reserved according to your requirements, you are most welcome</p>
    <a href="/Home/login" type="Button" class="btn btn-primary btn-lg">Log Out</a>
</div>

