@{
    ViewBag.Title = "medium_class";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>

     <nav class ="navbar navbar-header" role="banner">
        <div class ="navbar-header">
            <div class="badge">Average Scale </div>
            <a class="navbar-brand" href="a">MEDIUM CLASS ROOMS</a>
            
        </div>
         </nav>
    
<br />
<br />
<br />
<br />
<br />
<br />
 
        <div class="row">
        <div class="col-md-4">
            

                <label class="list-group-item-heading">Prices of room per day</label>
            <br />
            <div class="btn-group">
                single bed room charges 300$<input type="radio" name="r1 " value=" single bed room charges 300$" required="required"/>
            <br />
                    double bed room charges<input type="radio" name="r1 " value= "double bed room charges"required="required"/> 
            </div>
        </div>
    </div>
        
<div class="bottom-left">

     <div class="row">
       <div class="col-md-4">
            

                <label class="list-group-item-heading">facilities</label>
           <br />
           <div class="btn-group">    
            coolers availability<input type="radio" name="r2" value=" coolers availability" required="required" />
               <br />
               attach baths <input type="radio" name="r2" value="attach baths" required="required"/> 
            </div>
        </div>
    </div>
    </div>
<div class="bottom-left">
    <div class="row">
                <div class="col-md-4">
            <div class="btn-group">

                <label class="list-group-item-heading">Discount</label>
<br />
                On 3 days stay 10%<input type="radio" name="r3" value=" On 3 days stay 10%" required="required"/>
                <br />
                ON 7 days stay 20%<input type="radio" name="r3" value="ON 7 days stay 20%"required="required"/> 
            </div>
        </div>
    </div>
    </div>
<div>
    <a href="~/Home/last" type="Button" class="btn btn-primary">Select</a>
    </div>
<div>
    <a href="~/Home/options" type="Button" class="btn btn-primary">Home</a>
    </div>