@{
    ViewBag.Title = "selection";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>

    <nav class ="navbar navbar-inverse" role="banner">
        <div class ="navbar-header">
            <a class="navbar-brand" href="a">Selected Option</a>
        </div>
         </nav>
<table border="1">
    tr

</table>