@{
    ViewBag.Title = "unsuccessful";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>


<div class="jumbotron">
<h1>Sorry :( </h1>
    <p> your room is already reserved, you cannot reserved this right now</p>
    <a href="/Home/login" type="Button" class="btn btn-primary btn-lg">Log Out</a>
</div>

